@import url(style.css);

/*Adattaemento Sequneziale dal Mobile al Tablet in transizione*/

@media (min-width:461px) and (max-width:690px) {
    .front-menu, .mix-play, .art-cont{
        justify-content: flex-start;
        display: flex;
        width: 90%;
    }

    .nav-bar{
        height: calc(100vh - 100px);
    }
    
    .tags{
        padding-right: calc(10% - 10px);
        justify-content: center;
    }

    .playlist-menu-sc{
        padding-left: calc(20% - 10px);
        padding-bottom: 90px;
    }

    .tags ul{
        width: 70%;
    }

    .img-playlist{
        width: auto;
    }

    #text-play{
        width: 90%;
    }

    .mix-sc{
        width: 99%;
    }

    .mix-play{
       gap: 10px;
        width: 99%;
    }

    .play-box{
        width: 40%;
    }

    .artist-sc{
        width: 90%;
        padding: 10px;
    }

    .bottom-bar{
        grid-template-columns: auto 55% auto;
    } 

    .title-song{
        display: none;
     }
 
     .int-sc{
        display: none;
     } 
}


@media (max-width:1248px) and (min-width:800px) {
    
    .song-cover-sc .int-sc{
       display: none;
    }

    .song-cover-sc{
        justify-content: center;
    }

    .song-cover-sc .cover-sc{
        width: 100%;
        flex-wrap: nowrap;
    }

    .front-menu{
        justify-content: center;
        width: auto;
    }

}

/*Adattamento per il Desktop Essenziale*/

@media screen and (min-width:1001px) {
    .nav-bar{
        width: 290px;
        height: calc(93vh - 45px);
    }

    .int-sc{
        display: flex;
        width: 20%;
    }

    .header-sc{
        height: auto;
    }

    .tags{
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }

    #logo-big{
        display: block;
        padding: 10px;
    }

    .icons-sc{
       justify-content: first baseline;
       padding: 10px;
    }

    .tags ul{
        gap: 30px;
    }

    .img-box{
        width: 66%;
    }

    #logo-small{
        display: none;
    }

    .bottom-bar{
        width: 100%;
        height: 1290px;
    }
    
    .first-sc li{
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .first-sc .img-box{
        width: 13%;
    }

    .first-sc li p{
        display: block;
        color: var(--white-2);
    }

    #home-sc::after{
        content: '';
        padding: 0;
        width: 0;
        height: 0;
    }

    .user-icon{
        width: 100%;
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: relative;
    }

    .user-icon img{
        width: 10px;
        position: absolute;
        top: 8px;
        left: 5px;
    }

    .playlist-sc{
        display: flex;
    }

    #user-sc{
        border-top: 2px solid var(--gray-1);
        padding: 10px;
    }

    .playlist-menu-sc{
        padding-left: 250px;
        gap: 20px;
    }

    .front-menu{
        width: 89%;
        justify-content: flex-start;
        padding: 10px;
    }

    .img-playlist{
        width: auto;
        padding: 10px;
    }

    .play-box{
        padding: 30px;
        width: 32%;
    }

    #text-play{
        width: 89%;
    }

    .mix-sc{
        width: 89%;
    }

    .mix-play{
        width: 100%;
    }

    .player-cont{
        gap: 10px;
    }

    .artist-sc{
        width: 89%;
        padding: 10px;
    }

    .bottom-bar{
        grid-template-columns: 29% 48% 20%;
    }  

    .vol-sc{
        width: auto;
    }

    .vol-line .line-second, .vol-line .line{
        display: block;
    }  
    
    .right-op{
        justify-content: flex-start;
        padding-left: 20px;
    }

    .title-song{
        display: flex;
    }

    .vol-line .line{
        width: 80px;
    }

    .vol-sc .line-second{
        width: 190px;
    }

    .vol-line .line::after{
        top: -8px;
        left: calc(82px - 10px);
        border-radius: 100px;
    }
}

/*Adattamendo per Schermi Grandi*/

@media screen and (min-width:2100px) {
    .playlist-menu-sc{
        padding-left: 210px;
        padding-bottom: 190px;
        gap: 20px;
    }

    .mix-play{
        width: 100%;
    }

    .img-playlist,.img-playlist{
        width: 290px;
        padding: 10px;
    }
    
    .front-menu{
        width: 89%;
        padding: 40px;
        justify-content: flex-start;
        gap: 80px;
    }

    #text-play{
        width: 89%;
    }

    .mix-play{
        gap: 80px;
        padding: 40px;
        width: 100%;
    }

    .mix-sc{
        width: 89%;
    }

    .play-box{
        width: 28%;
    }

    .artist-sc{
        width: 89%;
        padding: 10px;
    }

    .nav-bar{
        height: 90vh;
    }

    .int-sc{
        display: flex;
    }

    .bottom-bar{
        grid-template-columns: 20% 63% 20%;
    }  

    .player-line .line-second{
        width: 100%;
    }

    .vol-sc{
        width: auto;
        gap: 20px;
    }

    .vol-line .line{
        width: 90px;
    }

    
    .vol-line .line::after{
        top: -8px;
        left: calc(80px - 10px);
        border-radius: 100px;
    }

    .vol-line .line-second{
        width: 130px;
    }
}

/*Prevenzione di gap nella navbar laterale*/

@media screen and (max-height:720px){
    .playlist-sc ul{
        display: none;
    }
}