/* Stile Di Reset Css nei vari elementi */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Dispensa Colori del sito */

:root{
    --green-1: #BAF241;
    --black-1: #181D26;
    --white-2: #F2F2F2;
    --gray-1: #595959;
    --black-3: #141A23;
    --black-4: #0d1218;
    --black-1: #262626;
    --black-2: #000000;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--black-4);
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

img{
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Tipografia e implementazione dei font */

h1{
    font-size: 47.78px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2{
    font-size: 39.81px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h3{
    font-size: 33.18px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h4{
    font-size: 27.65px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h5{
    font-size: 27.65px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h6{
    font-size: 19.2px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

small{
    font-size: 13.33px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Utilità di classi*/

.container-fluid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: auto;
}

.col{
    flex-direction: column;
}

.rown{
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    width: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: auto;
}

.left{
    align-items: center;
    justify-content: flex-start;
}

.right{
    align-items: center;
    justify-content: flex-end;
}

/*Implementazione di stile nei componenti nella sezione mobile-first*/

.header-sc{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    flex-wrap: wrap;
    align-items: first baseline;
    background-color: transparent;
}

.nav-bar{
    width: 82px;
    height: calc(100vh - 100px);
    padding: 20px;
    gap: 30px;
    background-color: var(--black-2);
    pointer-events: all;
}

.img-box{
    padding: 7px;
    width: 60px;
}

.icons-sc{
    height: calc(130vh - 20vh);
    gap: auto;
    overflow: hidden;
    justify-content: space-between;
}

.bottom-bar{
    width: 100%;
    height: 100px;
    padding: 10px;
    z-index: 9;
    gap: 10px;
    display: grid;
    grid-template-columns: auto 55% auto;
    background-color: var(--black-3);
    pointer-events: all;
}

.first-sc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.first-sc li{
    display: flex;
}

.first-sc li p{
    display: none;
}

.first-sc .img-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

#home-sc::after{
    content: '';
    padding: 3px;
    width: 10px;
    height: 40px;
    background-color: var(--green-1);
    position: absolute;
    left: -14px;
    z-index: 10;
}

.user-icon{
    background-color: var(--gray-1);
    width: 50px;
    height: 50px;
    padding: 9px;
    border-radius: 100px;
    padding: 10px;
    overflow: hidden;
}

#logo-big{
    display: none;
}

.playlist-sc{
    color: var(--white-2);
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    height: auto;
    overflow: hidden;
    display: none;
}

.playlist-sc ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 4px;
}

.text-play{
    gap: 10px;
    align-items: flex-start;
}

.icons-play{
    gap: 20px;
}

#icon-play{
    padding: 10px;
    background: var(--gray-1);
    color: var(--black-3);
}

/* Main Section */

.main-sc{
    gap: 50px;
}

.top-bar{
    background-color: var(--black-3);
    padding: 20px;
    height: 79px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-up{
    padding: 16px;
    background: transparent;
    border: 3px solid var(--white-2);
    color: var(--white-2);
    font-weight: 900;
    width: 200px;
    border-radius: 100px;
    text-transform: capitalize;
}

.playlist-menu-sc{
    padding-left: 100px;
    padding-bottom: 90px;
}

.tags{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tags ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 30px;
    width: 56%;
}

.tags ul li a{
    color: var(--gray-1) ;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
}

.tags #selected{
    position: relative;
}

.tags #selected a{
    color: var(--white-2);
}

.tags #selected::after{
    content: '';
    background-color: var(--green-1);
    padding: 2px;
    width: 50px;
    position: absolute;
    top: 27px;
    left: 28px;
}

.front-menu{
    width: auto;
    gap: 10px;
    padding: 12px;
}

#text-play{
    color: var(--white-2);
    text-align: left;
    width: 90%;
    font-weight: 900;
    padding: 20px;
}

.mix-text h3{
    color: var(--white-2);
    font-weight: 900;
}


.playlist{
    gap: 20px;
    padding: 10px;
}

.img-playlist{
    width: auto;
}

.play-box{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 200px;
}

.play-text{
    color: var(--white-2);
    gap: 10px;
}

.play-text h6{
    width: 100%;
    text-align: center;
    font-weight: 900;
    padding: 10px;
}

.mix-sc{
    width: 90%;
    padding: 10px;
}

.mix-text{
    width: 100%;
    text-align: left;
    color: var(--white-2);
}

.mix-text h3,.mix-text small{
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
}

.mix-play{
    width: 109%;
    padding: 10px;
    justify-content: flex-start;
}


.artist-sc{
    width: 90%;
    padding: 20px;
}

.text-art-sc{
    text-align: left;
    padding: 18px;
    color: var(--white-2);
    gap: 20px;
    text-transform: capitalize;
}

.main-sc small{
    color: var(--gray-1);
}

.box-artist .box-art-img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    overflow: hidden;
}

.art-cont{
    padding: 16px;
    gap: 10px;
}

.box-artist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white-2);
    padding: 10px;
    font-weight: 900;
    gap: 10px;
}

.text-art-sc h4{
    font-weight: 900;
}

::-webkit-scrollbar{
    background-color: var(--white-2);
}

::-webkit-scrollbar-thumb{
    background-color: var(--gray-1);
}

/* Player Stile */

.img-box-cover{
    width: 70px;
    height: 70px;
    padding: 10px;
}

.player-option, .right-op{
    width: 100%;
    height: 80px;
    gap: 10px;
    overflow: hidden;
}

.song-cover-sc{
    justify-content: space-between;
    overflow: visible;
}

.cover-sc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.song-cover-sc{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
    width: 100%;
    color: var(--white-2);
}

.title-song h6{
    font-weight: 900;
    text-align: center;
}

.title-song small{
    color: var(--gray-1);
}

.title-song{
    display: none;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 100%;
    gap: 2px;
}

.int-sc{
    gap: 20px;
    display: none;
}

.player-cont{
    gap: 10px;
}

.player-option,.btn-op, .player-cont{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: var(--white-2);
    font-size: 30px;
    padding: 2px;
}

.btn-op{
    gap: 12px;
    display: none;
}

.player-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 3px;
}

.player-cont .line{
    width: 79px;
    padding: 2px;
    background-color: var(--green-1);
    position: relative;
}

.player-cont .line-second{
    width: 90%;
    padding: 2px;
    background-color: var(--gray-1);
}

.right-op{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-2);
}

.vol-sc{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
}

.vol-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.vol-line .line{
    width: 80px;
    display: none;
    padding: 2px;
    background-color: var(--green-1);
}

.line::after{
    content: '';
    display: none;
    padding: 10px;
    position: absolute;
    background-color: var(--white-2);
    top: -8px;
    left: 60px;
    border-radius: 100px;
}

.vol-line .line-second{
    width: 130px;
    padding: 2px;
    display: none;
    background-color: var(--gray-1);
}

/* Hovering di animazione */

.nav-bar ul li p{
    color: var(--gray-1);
}

.nav-bar ul li p:hover{
    color: var(--white-2);
    cursor: pointer;
}

.playlist-menu-sc .tags ul li a:hover{
    color: var(--white-2);
    cursor: pointer;
}

#icon-play:hover{
    background-color: var(--white-2);
    cursor: pointer;
}

.line:hover{
    cursor: pointer;
}

.line:hover::after{
    display: block;
    cursor: pointer;
}

.int-sc i, .right-op i{
    color: var(--gray-1);
}


.int-sc i:hover, .right-op i:hover{
    color: var(--white-2);
    cursor: pointer;
}