/* Stile Di Reset Css nei vari elementi */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Dispensa Colori del sito */

:root{
    --green-1: #BAF241;
    --black-1: #181D26;
    --white-2: #F2F2F2;
    --gray-1: #595959;
    --black-1: #262626;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}